.footer {
  background-color: #6ea8fe0f !important;
  backdrop-filter: blur(2px) !important;
  color: white;
  padding: 40px 0;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid var(--color-50);
  z-index: 3;
}

.footer-text {
  text-align: center;
}

.footer-slogan {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-name {
  font-size: 1rem;
  opacity: 0.8;
}

.highlight {
  color: var(--color-50);
  font-weight: bold;
}

/* Footer Logo Section */
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

/* Footer Social Media Icons */
.footer-body {
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .footer-text, .footer-logo-container, .footer-body {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-logo {
    width: 50px;
  }

  .footer-slogan {
    font-size: 1.2rem;
  }
}
